* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol,
ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before,
blockquote:after {
	content: "";
	content: none;
}
del {
	text-decoration: line-through;
}
header,
section,
article,
aside,
nav,
footer,
address {
	display: block;
}

input,
textarea,
select {
	font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}
